.view {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1.5vh 2vh;
    margin: 1vh 0;
    font-size: 2vh;
    border-radius: 2px;
    background: rgba(255, 255, 255, .2);
}

.view[data-is-selected="true"] {
    color: #000;
    background: rgba(255, 255, 255, .9);
}
