.view {
    display: flex;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

.view ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    padding: 2vh;
}

.header h1 {
    font-size: 5vh;
    text-align: center;
}

.title {
    padding: 0 1vh;
    font-size: 2vh;
    font-weight: 200;
    text-transform: uppercase;
}

.panes {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.panes > div {
    padding: 0 3vw;
}

.panes > div:first-child {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 52vw;
}

.panes > div:last-child {
    flex: 1;
}
