.view {
    display: flex;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

.view ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    padding: 45px;
}

.header h1 {
    font-size: 3em;
    text-align: center;
}

.title {
    padding: 0 .5em;
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
}

.icon {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 28em;
    height: 28em;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .7);
}

.panes {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.panes > div {
    padding: 0 3em;
}

.panes > div:first-child {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 52%;
}

.panes > div:last-child {
    flex: 1;
}

.icon::after {
    font-size: 4em;
    content: "SaucissonTV";
}
