.view {
    width: 2em;
    height: 1em;
    transition: background-color .2s ease;
    border-radius: 1em;
    background: rgba(216, 216, 216, .5);
}

.view[data-value="true"] {
    background-color: rgba(100, 220, 0, .5);
}

.view > div {
    width: 1em;
    height: 1em;
    transition: transform .2s ease;
    border-radius: 50%;
    background: #fff;
}

.view[data-value="true"] > div {
    transform: translateX(1em);
}
